body { text-align: center;
    width: auto;
    height: auto;
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
   }
.rl-remove-bullets { list-style-type: none;} 

.bpol-numbers { list-style-position: inside;

}